---
import CardProject from "@components/CardProject.astro";
import { PROJECTS } from "@src/data.js";

interface Project {
  id: string;
  slug: string;
  title: string;
  description: string;
  learnings: string[];
}

const projectsReversed = [...PROJECTS].reverse();
---

<section>
  <h1>PROJECTS</h1>
  <div class="projects grid">
    {projectsReversed.map((project: Project) => <CardProject {...project} />)}
  </div>
</section>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }

  h1 {
    font-size: 2rem;
    color: var(--font-color-light);
    text-align: center;
    margin-bottom: 1rem;
  }
</style>
